<!doctype html>
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Unsupervised Image Classification</title>
      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h3 style="margin: auto;width: 80%; text-align: center; margin-top: 30px; margin-bottom: 30px;">Under construction</h3>
    </body>    
</html>
{% endblock %}