<!doctype html>
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Unsupervised Image Classification</title>
      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <img src="{{ url_for('static', filename=user_image) }}" alt="User Image">
    </body>    
    
</html>
{% endblock %}